{% extends 'blog/base_blog.html' %}

{% block title %}
    Post lists
{% endblock %}

{% block content %}
    <script>

        $('document').ready(function () {
            $('input').on('keyup', function () {

                var value1, value2, value3;
                value1 = $('#val1').val();
                value2 = $('#val2').val();

                value1 = parseInt(value1);
                value2 = parseInt(value2);

                value3 = value1 + value2;

                $('#result').html(value3);


            })
        });

    </script>

    <input id="val1" title="" type="number"/><br><br>
    <input id="val2" title="" type="number"/><br><br>
    <button class="btn btn-outline-info">Жми сюда</button><br><br>
    <div id="result">Значение:</div>

    <h1 class="mb-5">Posts:</h1>
    {% for post in page_object.object_list %}
        {% include 'blog/includes/post_card_template.html' %}
    {% endfor %}
{% endblock %}

